* {
    box-sizing: border-box;
  }

.small-text {
    font-size: small;
    top: 0;
    right: 0;
}

.photo {
    width: 80%;
    height: 60%;
  	align-items:center;
    margin-top: 4%;
    padding-top: 5px;
    margin-left: 10%;
  	margin-right:10%;
  	padding-left:5px;
    padding-bottom: 2px;
    border-radius: 20px;
    background-color: gray;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.paragraph {
    width: 100%;
    padding: 10%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.topline {
    font-family: sans-serif;
    margin: 2vw;
    text-align: center;
    background-color: black;
    padding: 2vh;
    height: center;
    font-size: 3.5vh;
    font-weight: bold;
    color: white;
    animation: animate 2.0s linear infinite;
    margin: 0vw;
}

.Intropara {
    font-family: sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0px;
    color: #042571;
    text-align: justify;
    font-size: 20px;
    padding: 4.5%;
  	background-color:#D4E6F1;
  	border-radius:20px;
}

.Introphoto {
    background-image: url('https://iili.io/Ju0ONxs.md.jpg');
    background-size: 100% 100%;
    border-radius: 20px;
    padding: 30vw;
    align-items: center;
}

.Introcourtesy {
    color: grey;
    font-weight: bold;
    text-align: center;
}

.Inceppara {
    font-family: sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0px;
    color: #042571;
    text-align: justify;
    font-size: 20px;
    padding: 4.5%;
  	background-color:#D4E6F1;
  	border-radius:20px;
  	
}

.Incepphoto {
    background-image: url('https://iili.io/JAJKFI9.md.jpg');
    background-size: 100% 100%;
    border-radius: 20px;
    padding: 30vw;
    align-items: center;
}

.Incepcourtesy {
    color: grey;
    font-weight: bold;
    text-align: center;
}

.glorypara {
    font-family: sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0px;
    color: #042571;
    text-align: justify;
    font-size: 20px;
    padding: 4.5%;
  	background-color:#D4E6F1;
  	border-radius:20px;
}

.gloryphoto {
    background-image: url('https://iili.io/JAJfCZX.md.jpg');
    background-size: 100% 100%;
    border-radius: 20px;
    padding: 30vw;
    align-items: center;
}

.glorycourtesy {
    color: grey;
    font-weight: bold;
    text-align: center;
}

.honorspara {
    font-family: sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0px;
    color: #042571;
    text-align: justify;
    font-size: 20px;
    padding: 4.5%;
  	background-color:#D4E6F1;
  	border-radius:20px;
}

.honorphoto {
    background-image: url('https://iili.io/JAcwB94.md.jpg');
    background-size: 100% 100%;
    border-radius: 20px;
    padding: 30vw;
    align-items: center;
}

.honorcourtesy {
    color: grey;
    font-weight: bold;
    text-align: center;
}

.lastline {
    font-family: sans-serif;
    margin: 2vw;
    text-align: center;
    color: #042571;
}

.salute {
    font-family: sans-serif;
    margin: 2vw;
    text-align: center;
    color: blue;
    padding: 0.25px;
    height: center;
    font-size: 3vh;
    animation: animate 2.0s linear infinite;
    margin: 0vw;
    background: linear-gradient(to bottom,#F4C430 25%, white 40%, green 80%, #F4C430 125%);
    background-size: 100% 200%;
    animation: colorFlowAnimation 5s infinite
}

@media only screen and (max-width: 600px) {
  .Intropara,
  .Inceppara,
  .glorypara,
  .honorspara,
  .lastline,
  .salute {
    font-size: calc(24px - var(--font-reduction-percentage)); /* Adjusted font size for small screens */
  }
}

@keyframes animate {
    0% {
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }
}

@keyframes colorFlowAnimation {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% -200%;
    }
}
